*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
}

.container{
  text-align: center;
  background-color: antiquewhite;
  width:50%;
  margin:0 auto;
}

.name{
  margin-top: 20px;
  display:flex;
  height:50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.email{
  margin-top: 20px;
  display:flex;
  height:50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.password{
  margin-top: 20px;
  display:flex;
  height:50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register{
  height:100px;
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button{
  cursor: pointer;
  border: none;
  background-color: green;
  width:100px;
  height:30px;
  color:white;
  border-radius: 5px;
}

input:hover{
  cursor: pointer;
}

h4:hover{
   color: blue;
   cursor: pointer;
}

@media (max-width:573px)
{
   .container{
    width:40%;
   }
}